$brand-blue: #0118B5;
$brand-green: #A1E8AF;
$brand-dark: #14080E;
$brand-purple: #473198;
$light-grey: #D6D6D6;
$brand-purple-light: #D1C9EE;
$text-grey: #404040;
$color-white: #ffffff;
$border-grey: #EDEDED;
$border-cream: #FCF7F3;
$border-grey-light: #EBFAEE;

$default-font-size: 10px;