.top-head {
    top: 0px;
    z-index: -10;
    height: 18rem;
    width: 100%;
    position: absolute;
    border-radius: 80px 0px 0px 80px;
    background-color: $color-cream;
}

.blog-image {
    width: 82.8rem !important;
    height: 60.8rem !important;
    margin-left: 7.5rem;
    border-radius: 10px 0px 0px 10px !important;

    &-1{
        border-radius: 10px 10px 0px 0px !important;
        width: 35rem;
        height: 25rem;
        margin-bottom: 2rem;
    }

    &-2{
        width: 20rem !important;
        height: 15rem !important;
        margin-right: 2rem;
        border-radius: 10px 0px 0px 10px !important;
    }
}

.blog-card{
    @extend .card;
    flex-direction: row;

}
