.treatment-card{
   display: flex;
   padding-bottom: 1rem;
  
   border-bottom: 1px solid $light-grey;
   margin-bottom: 2rem;
   &-image{
       @extend .card;
       @include square(18rem);
       padding: 0.6rem;
   
       @include res(md){
        @include square(16rem);
       }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }
    
   }

   &-content{
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn{
        margin-left: auto;
    }
   }

   &-list{
       list-style: none;
       padding: 0;
       margin-top: 1rem;

       li{
           margin-bottom: 0.4rem;
       }
   }
}