.dental-clinic-section{
    
    .card-body {
        background-color: $color-white;
    }
    
    .region{
        width: 3rem;
    }
    
    .company{
        width: 12rem;
    }
    
    .type-icon {
        width: 3rem;
    }
    
    .flag{
        width: 2.4rem;
    }

    .card-header{
        padding: 0 1rem;
    }
    
    .table-top {
        
        display: flex;
        border-bottom: 1.2px solid rgba($light-grey,0.6);

        .category{
            &-filter{
                padding: 0;
                

                &:nth-child(:last-child){
                    label{
                        padding-right: 0;
                    }
                    
                }
                &:nth-child(:first-child){
                    label{
                        padding-left: 0;
                    }
                }
            }
            &-input{
                display: none;

                &:checked + label {
                    border-bottom: 1.2px solid $brand-pink;
                    font-weight: 700;
                }
            }
            &-label{
                margin: 0;
                font-size: 1.6rem;
                border-bottom: 1.2px solid rgba($light-grey,0.6);
                padding: 1rem 2rem;
                display: flex;
                align-items: center;
                gap:4px;

            }
        }
        // .btn{
        //     &:not(:first-child){
        //         margin-left: 1.6rem;
        //         border-bottom: 2px solid transparent;
        //     }

        //     &.active{
        //         border-color: $brand-pink;
        //         color: $brand-pink;
        //     }
        // }
    }
    
    .table-bottom {
        //background-color: #e9e3e3;
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;     
    }

    table {
    
        td,th
        {
            vertical-align: middle;
        }
    }
        //padding: 0.6rem 1.2rem !important;
        //margin-right: 1rem !important;
        //margin-left: 0.5rem !important;
        //margin-top: 0.2rem;
        //float: left;

    .table-icon {
        font-weight: 50rem;
        font-size: 50rem;
    }
    
    thead tr{
        border-bottom: 2px solid gainsboro !important;

        th{
            font-weight: 600;
        }
    }

    .ranking,
    .pointer{
        font-size: 1.3rem;
        height: 2.3rem;
        vertical-align: middle;
        width: 1.8rem;
        margin-left: 0.2rem;
    }
    
}

