.quote-top {
        top: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -30;
        height: 60%;
        width: 100%;
        position: absolute;
        border-radius: 0px 0px 0px 120px;
        background-image: linear-gradient(to right, $color-cream, transparent);
}