@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url(../vendors/bootstrap/bootstrap.min.css);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (max-width: 61.99em) {
    html {
      font-size: 50%; } }
  @media (max-width: 47.99em) {
    html {
      font-size: 50%; } }
  @media (max-width: 23.74em) {
    html {
      font-size: 43.75%; } }

a {
  transition: all 300ms cubic-bezier(0.48, 0.01, 0.61, 0.99); }

button {
  border: none;
  outline: none; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh; }

img {
  width: 100%; }

section {
  padding: 3rem 0;
  position: relative;
  width: 100%;
  overflow: hidden; }

* {
  font-family: 'Work Sans', sans-serif; }

a, p, .icon-text span, button, code {
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0; }

span {
  font-family: inherit;
  font-size: inherit; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #473198; }

h1 {
  font-size: 4.8rem;
  line-height: 105%;
  letter-spacing: -0.3rem;
  margin-bottom: 2.4rem; }

h2, .h2 {
  font-size: 3.2rem;
  line-height: 3.36rem;
  letter-spacing: -0.15rem;
  margin-bottom: 1.8rem; }

h4 {
  font-size: 2.4rem;
  letter-spacing: -0.12rem; }

h5, .h5 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem; }

p, .icon-text span {
  text-align: left;
  color: #404040;
  line-height: 1.8;
  line-height: 1.8; }

.p-sm {
  font-size: 1.4rem;
  line-height: 1.5; }

.p-xs {
  font-size: 10px; }

.p-big, .section-subheading {
  font-size: 1.8rem;
  line-height: 1.35; }

.subheading {
  font-weight: 400;
  color: #404040;
  text-transform: uppercase; }

.text-300 {
  font-weight: 300 !important; }

.text-400 {
  font-weight: 400 !important; }

.text-500 {
  font-weight: 500 !important; }

.text-600 {
  font-weight: 600 !important; }

.text-700 {
  font-weight: 700 !important; }

.text-dark {
  color: #14080E !important; }

.text-grey, .section-subheading {
  color: #404040 !important; }

.text-purple-light {
  color: #D1C9EE !important; }

.font-karla {
  font-family: 'Karla', sans-serif; }

.bg-cream {
  background-color: #FCF7F3 !important; }

.bg-dark {
  background-color: #14080E !important; }

.heading-border {
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 1rem;
  margin-bottom: 0; }

.text-right {
  text-align: right; }

.pagination {
  width: 100%;
  display: flex;
  align-items: center; }
  .pagination nav {
    width: 100%; }
  .pagination-text {
    margin: 0 3rem;
    margin-bottom: 0;
    color: #14080E; }

.btn {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  transition: all 300ms cubic-bezier(0.48, 0.01, 0.61, 0.99);
  transition-duration: 100ms; }
  .btn:hover {
    transform: translateY(-2px); }
  .btn-primary {
    background-color: #473198;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(71, 49, 150, 0.2); }
    .btn-primary:hover {
      background-color: #352571; }
    .btn-primary:active {
      transform: translateY(0);
      background-color: #2c1e5e;
      box-shadow: 0px 4px 4px 0px rgba(71, 49, 150, 0.2) !important; }
    .btn-primary:focus {
      background-color: #473198;
      box-shadow: 0 0 0 0.25rem rgba(114, 49, 253, 0.217); }
  .btn-outline {
    border: 1.5px solid #473198;
    background-color: transparent;
    color: #473198;
    font-weight: 500; }
    .btn-outline:hover {
      color: #ffffff;
      background-color: #473198;
      border-color: #473198; }
    .btn-outline:active {
      transform: translateY(0);
      background-color: #2c1e5e;
      box-shadow: 0px 4px 4px 0px rgba(71, 49, 150, 0.2) !important; }
    .btn-outline:focus {
      background-color: #473198;
      box-shadow: 0 0 0 0.25rem rgba(114, 49, 253, 0.217); }
    .btn-outline-white {
      border: 1.5px solid #ffffff !important;
      color: #ffffff; }
      .btn-outline-white:hover {
        color: #473198;
        background-color: #ffffff !important; }
    .btn-outline-purple {
      border: 1.5px solid #473198 !important;
      color: #ffffff !important; }
      .btn-outline-purple:hover {
        background-color: #473198 !important; }
  .btn-sm {
    padding: 0.4rem 1rem;
    font-size: 1.6rem; }
    @media (max-width: 47.99em) {
      .btn-sm {
        padding: 0.7rem 1.4rem;
        font-size: 1.8rem; } }
  .btn-icon {
    min-width: 5rem;
    min-height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid #EDEDED; }
    .btn-icon img, .btn-icon svg {
      width: 2.4rem;
      height: 2.4rem; }
  .btn-white {
    background-color: #ffffff;
    color: #473198; }
    .btn-white:hover {
      background-color: #23184b;
      color: #ffffff; }
  .btn-text-icon img, .btn-text-icon svg {
    width: 2.4rem;
    height: 2.4rem; }

.card, .result-card, .treatment-card-image {
  padding: 2.4rem 3.6rem;
  border: 1px solid #EDEDED;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  background-color: #ffffff; }
  .card-shadow-xl {
    box-shadow: 0px 18px 30px 2px rgba(0, 0, 0, 0.08); }
  .card-sm, .result-card {
    padding: 2rem 2.4rem; }

label, .form-label, select, .form-select {
  transition: all 300ms cubic-bezier(0.48, 0.01, 0.61, 0.99); }

label, .form-label {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #404040; }
  @media (max-width: 47.99em) {
    label, .form-label {
      font-size: 1.6rem; } }

select, .form-select {
  font-size: 1.6rem;
  width: 100%;
  border: 1.4px solid #D6D6D6;
  padding: 1.2rem 1.6rem;
  line-height: 130%;
  display: block;
  border-radius: 0.4rem; }
  select:focus, select:active, .form-select:focus, .form-select:active {
    outline: none;
    border-color: #D1C9EE; }
  select-sm, .form-select-sm {
    padding: 0.6rem 1rem; }

select:focus, select:active, .form-select:focus, .form-select:active, input:focus, input:active, .form-input:focus, .form-input:active {
  box-shadow: 0 0 0 0.25rem #dcd6f2; }

.btn-check-group {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 5fr)); }

.btn-check-label {
  border-radius: 0.6rem !important;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D1C9EE;
  font-weight: 600;
  color: #473198; }

.btn-check:active + .btn-check-label, .btn-check:checked + .btn-check-label {
  color: #ffffff;
  background-color: #473198; }

.container-border {
  padding-top: 2rem; }
  .container-border-left {
    padding-right: 2rem;
    border-right: 1px solid #EDEDED; }
  .container-border-right {
    padding-left: 2rem; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: var(--bs-gutter-x, 2.75rem);
  padding-left: var(--bs-gutter-x, 1.25rem); }
  @media (max-width: 47.99em) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding-right: var(--bs-gutter-x, 1.75rem);
      padding-left: var(--bs-gutter-x, 1.75rem); } }

.result-card {
  box-shadow: 0px 18px 30px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.4rem; }
  .result-card-img {
    display: flex;
    height: 100%;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.8rem;
    border-top-left-radius: 2.4rem; }
  .result-card-heading {
    color: #14080E; }
  .result-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .result-card-body-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
    .result-card-body-footer {
      border-top: 1px solid #EDEDED;
      padding-top: 1rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.icon-text {
  display: flex;
  align-items: center; }
  .icon-text img, .icon-text svg {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    object-position: center; }
  .icon-text span {
    margin-left: 0.8rem; }

.badge {
  padding: 0.8rem 1.4rem;
  background-color: #A1E8AF;
  color: #473198;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10rem; }
  .badge:not(:last-child) {
    margin-right: 1.2rem; }
  .badge-container {
    display: flex;
    align-items: center;
    margin-top: 4rem; }

.treatment-card {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 2rem; }
  .treatment-card-image {
    min-width: 18rem;
    min-height: 18rem;
    width: 18rem;
    height: 18rem;
    padding: 0.6rem; }
    @media (max-width: 61.99em) {
      .treatment-card-image {
        min-width: 16rem;
        min-height: 16rem;
        width: 16rem;
        height: 16rem; } }
    .treatment-card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 4px; }
  .treatment-card-content {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .treatment-card-content .btn {
      margin-left: auto; }

.destination-card {
  height: 20rem;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 47.99em) {
    .destination-card {
      height: 22rem; } }
  .destination-card-image, .destination-card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .destination-card-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.91) 0%, rgba(0, 0, 0, 0.19) 48.23%, #14080E 100%);
    z-index: 2; }
  .destination-card-image {
    object-fit: cover;
    object-position: center;
    z-index: -1; }
  .destination-card-content {
    padding: 1.6rem 2rem;
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .destination-card-title {
    color: #ffffff; }

.navbar {
  background: #FFFFFF;
  /* shadow-sm */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  overflow-y: visible;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.navbar-collapse {
  flex-grow: 0; }

.navbar-collapse {
  width: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 74.99em) {
    .navbar-collapse {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0%; } }

.navbar-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }
  @media (max-width: 74.99em) {
    .navbar-contact {
      margin: 2.5rem 0 2rem;
      align-items: center; } }

.navbar-toggler {
  border: 1px solid #D1C9EE !important; }

.navbar-toggler-icon {
  width: 5rem;
  height: 5rem;
  background-image: url(/src/img/hamburger.svg) !important;
  background-position: center;
  background-size: contain; }

@media (max-width: 74.99em) {
  .navbar-nav {
    margin-top: 2rem; } }

.navbar-brand-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem; }

.logo-big {
  color: #473198;
  font-family: Karla;
  font-style: normal;
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 40px;
  text-decoration: none;
  word-break: keep-all;
  margin-bottom: 0;
  letter-spacing: -0.3rem; }

.logo-small {
  color: #473198;
  font-family: Karla;
  font-size: 1.4rem;
  font-weight: 500;
  transform: translateY(-25%);
  text-decoration: none;
  text-align: center; }

.nav-item {
  margin: 0 1rem; }
  @media (max-width: 74.99em) {
    .nav-item {
      margin: 0 0 1.5rem; } }

.nav-link {
  font-family: Karla, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #14080E !important; }
  .nav-link:hover {
    color: #593dbf !important; }
  @media (max-width: 47.99em) {
    .nav-link {
      font-size: 2rem; } }

@media (max-width: 74.99em) {
  .nav-right {
    width: 100%;
    margin-top: 6rem; } }

.form-select-1, .form-select-2 {
  font-size: 1.2rem;
  border-radius: 5rem;
  padding: 0; }
  @media (max-width: 47.99em) {
    .form-select-1, .form-select-2 {
      font-size: 1.6rem;
      height: 4rem;
      padding: 0 1rem; } }

.form-select-1 {
  margin-right: 2rem; }

svg.header-icon {
  min-width: 1.6rem;
  min-height: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.2rem; }
  @media (max-width: 74.99em) {
    svg.header-icon {
      min-width: 2rem;
      min-height: 2rem;
      width: 2rem;
      height: 2rem; } }

.language, .currency {
  font-size: 12px;
  margin-right: 0.6rem; }

section {
  padding: 3rem 0;
  position: relative;
  width: 100%;
  overflow: hidden; }

.section-subheading {
  margin-bottom: 1.6rem;
  width: 75rem;
  max-width: 100%; }

.top-section {
  padding-top: 12rem; }

.footer {
  background-color: #473198;
  padding: 3rem 0 2rem; }
  .footer-logo {
    width: 20rem; }
    .footer-logo-wrapper {
      padding-right: 3rem; }
  .footer-menu {
    margin-bottom: 2rem; }
    .footer-menu-heading {
      color: #ffffff;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 3rem; }
    .footer-menu-link {
      color: #D1C9EE;
      text-decoration: none;
      transition: all 300ms cubic-bezier(0.48, 0.01, 0.61, 0.99);
      display: block;
      margin-bottom: 1rem; }
      .footer-menu-link:hover {
        color: #ffffff; }

.social-icons {
  display: flex;
  margin-left: 1rem; }
  .social-icons a:not(:last-child) {
    margin-right: 2rem; }
  .social-icons svg {
    color: #ffffff;
    stroke-width: 1.5px; }
  .social-icons-wrapper {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem; }

.section-details {
  background-color: #EBFAEE;
  width: 100%; }

.logo-icon {
  height: auto;
  margin: 0 auto; }

.about-text {
  margin-bottom: 5rem;
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: #404040;
  text-align: left; }

.section-register {
  background-color: #ffffff;
  width: 100%; }

.hero-section-left {
  padding-right: 3vw; }

@media (max-width: 47.99em) {
  .hero-section {
    background-repeat: no-repeat;
    background-image: url(/src/img/hero-mobile-bg.png);
    background-position: center 6rem;
    background-size: 100%; } }

.search-box {
  transform: translateY(-20vh);
  width: 82rem;
  margin-bottom: -15vh; }
  @media (max-width: 74.99em) {
    .search-box {
      transform: none;
      margin-top: 2rem;
      width: 100%;
      margin-bottom: 0; } }
  @media (max-width: 47.99em) {
    .search-box {
      margin-top: 4rem; } }

.destination-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  grid-gap: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem; }

.register {
  padding-bottom: 5rem; }

.steps-wrapper {
  padding-left: 5rem; }
  @media (max-width: 61.99em) {
    .steps-wrapper {
      margin: 6rem 0 4rem;
      padding-left: 0; } }

.single-step {
  display: flex;
  align-items: center; }
  @media (max-width: 61.99em) {
    .single-step {
      max-width: 100%; } }
  .single-step .content {
    flex-grow: 1;
    padding-left: 2rem; }
  .single-step:not(:last-child) {
    margin-bottom: 8rem; }
  .single-step:nth-child(2) {
    padding-left: 15%; }
  .single-step h4 {
    color: #14080E; }

.step-1 {
  font-weight: 200;
  font-size: 6rem;
  margin-bottom: 0;
  text-align: center;
  box-shadow: 0px 35px 50px 2px rgba(0, 0, 0, 0.12);
  color: #404040;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9rem;
  min-height: 9rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  z-index: 10; }

.steps-bg {
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 80%;
  width: 50%;
  position: absolute;
  border-top-left-radius: 12rem;
  background-color: #FCF7F3; }
  @media (max-width: 61.99em) {
    .steps-bg {
      width: 100%;
      height: 60%;
      bottom: 0;
      top: auto; } }

.reason-box {
  margin: 2rem 0 5rem; }
  .reason-box .row {
    align-items: center; }
  .reason-box h4 {
    color: #14080E; }

.reasons-list {
  margin-top: 4rem; }

.steps-img {
  border-radius: 2.4rem 4.8rem;
  box-shadow: 0px 35px 50px 2px rgba(0, 0, 0, 0.12); }

.bottom-left, .bottom-right {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 0; }
  @media (max-width: 47.99em) {
    .bottom-left, .bottom-right {
      max-width: 35vw;
      height: auto; } }
  .bottom-left img, .bottom-right img {
    height: 100%;
    width: 100%; }

.bottom-left {
  bottom: -0.1rem;
  left: -0.7rem; }

.bottom-right {
  top: -0.1rem;
  right: -0.5em; }

.text-bottom {
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff; }
