.section-details {
    background-color: $brand-green-light;
    width: 100%;
}

.logo-icon {
    // width: 4.5rem;
    height: auto;
    margin: 0 auto;
}

.about-text {
    margin-bottom: 5rem;
    line-height: 1.7;
    letter-spacing: -0.01em;
    color: $text-grey;
    text-align: left;
}


.section-register {
    background-color: $color-white;
    width: 100%;
}