.footer {
    margin-top: 5rem;
    background-color: $brand-dark;
}

.text-bottom {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 105%;
    text-align: center;
    letter-spacing: -0.04em;
    color: $light-grey;
}
