.h1 {
    background-color: $color-primary;
    line-height: 2px;
    font-family: Karla;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -0.08em;
    text-align: left;
}