nav {
    background: #FFFFFF;
/* shadow-sm */
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
overflow-y: visible;
z-index: 1000;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-collapse{
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand-1 {
    width: 35rem;
}

.logo-big {
    color: $brand-purple;
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: -0.08em
}

.logo-small {
    color: $brand-purple;
    font-family: Karla;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-decoration: none;
    text-align: center;
}
.nav-item{
    margin: 0 1rem;
}

.nav-link {
    font-family: Karla, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: $brand-dark !important;

    &:hover {
        color: lighten($brand-purple,10%) !important;
    }
}

.nav-right {
    display: flex;
    width: 35%;
}
.hello {
    margin-top: -2rem
}

.language {
    font-size: 1.5rem;
    margin-top: -3rem;
    margin-left: 1rem;
}

.form-select {
    width: 4.5rem;
    margin-top: -3rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 0.95rem;
}

.top-section {
    padding-top: 5rem;
    background-color: $color-white;
}